extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Anthony Setiadi

        p Full Stack JavaScript Developer


        .about-bio

          p I make and sell stuff on the internet. My dev aspirations are to continue to build tools, products and apps that make the world a better place. For both you and for me.

          p If you like what you see, don't hesitate to reach out.

          p Made with ❤️ from Melbourne, Australia ✌🏼


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li React.js
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 123-456-789
          li 
            a(href="mailto:setiadi.anthony@gmail.com", target="_blank") anthony@email.com

        a.btn-link(href='https://www.linkedin.com/in/anthonysetiadi/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/anthonysetiadi', target="_blank") GitHub
        a.btn-link(href='https://twitter.com/antsetiadi', target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back