extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    #heading-content
      img.logo(src=`static/images/Atom-Ant-Logo.png`, alt='Logo of Atom Ant') 
      h1 Ant'z Portfolio
      
    br
    h2.welcome Welcome ✌🏼
    p Here are a number of my completed projects from the Team Treehouse Techdegree. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      each project in projects
        project.cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='Project screenshot thumbnail')
            h5=  project.project_name

        

