extends layout.pug 

block content 

    h1= `404 - Page Not Found`
    h2= `Error status code: ${err.status} - Page Not Found`
    p= `${err.message}. Please go back.`

    nav.nav
        a(href='/' class='backBtn')
            span &larr;
            |  Home