extends layout.pug 

block content 

    h1= `${error.message} - Status: ${error.status}`
    pre.stack-trace= error.stack 

    nav.nav
        a(href='/' class='backBtn')
            span &larr;
            |  Back